body {
  background-color: #202020;
}
* {
  font-family: 'Cormorant Infant', serif;
  color: #858585;
}

header{
  text-align: center;
  font-size: 40px;
  color: #090909;
  background-color: #D4AF37;
  height: 100px;
  width: 100%;
  border-bottom-width: solid medium 4px;
  border-radius: 0px 0px 10px 10px;
}

.fml {
  margin-left: 60%;
  float:right;
  text-align: left;
  border-left: solid #999;
  margin: 10px 20px;
  border-bottom: solid 1.5px #999999;
}

ol {
  list-style-type: lower-roman;
}
ul, li, ol {
  margin-top: 0;
  padding-top: 0;
}

.book-list {
  display: none;
  border-top: 1px solid #efefef;
}
.hidden {
  display: none;
}
.active {
  color: #F77;

h5, h4, h3{
  margin: 10px 20px;
  border-bottom: solid 1.5px #999999;
  z-index: -1;
}

/*#user-story{
  width:65%;
}

#content aside{
  width: 30%;
}

/*can't figure out how to get the document.prints() to float to the right in css. considered changing all h5 and h4 to aside, and then to change font in css settings. been playing for too long.*/


/*aside{
  font-family: monospace;
  font-size: 14px;
}*/
