body {
  background-color: #202020;
}
* {
  font-family: sans-serif;
  color: #858585;
}
header{
  text-align: center;
  font-size: 40px;
  color: #090909;
  background-color: #D4AF37;
  height: 100px;
  width: 100%;
  border-bottom-width: solid medium 4px;
  border-radius: 0px 0px 10px 10px;
}
#page {
  vertical-align: middle;
  margin-right: 40%;
  z-index: 1;
}

/*can't figure out how to get the document.prints() to float to the right in css. considered changing all h5 and h4 to aside, and then to change font in css settings. been playing for too long.*/
h5, h4{
  vertical-align: top right;
  border: solid #999999;
  border-width: 2px;
  margin-left: 70%;
  z-index: -1
}

/*aside{
  font-family: monospace;
  font-size: 14px;
}*/
