body {
  background-color: #202020;
}
* {
  font-family: sans-serif;
  color: #858585;
}

#page {
  vertical-align: middle;
  margin-right: 40%;
  z-index: 1;
}

/*can't figure out how to get the document.prints() to float to the right in css.*/
h5, h4{
  vertical-align: top right;
  border: solid #999999;
  border-width: 2px;
  margin-left: 70%;
  z-index: -1
}
